* {
	box-sizing: border-box; 
}

::-webkit-scrollbar {
	width: 0;
}

html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	font-display: optional;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; 
}

html {
	overflow: hidden; 
}

body {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: stretch;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	-webkit-align-content: stretch;
	-ms-flex-line-pack: stretch;
	align-content: stretch;
	background: #ececec; 
}

.main {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch; 
}

nav .brand-logo {
    display: flex;
}

.side-nav .divider {
    margin: 0;
}

.side-nav li > a {
    padding-left: 24px;
}

.side-nav li > a > i, .side-nav li > a > [class^="mdi-"], .side-nav li > a li > a > [class*="mdi-"], .side-nav li > a > i.material-icons {
    margin-right: 24px;
}

#graph .c3-line-Curtidas {
	stroke-width: 3px;
}

#graph .c3-line-Seguidores {
	stroke-width: 3px;
}

.row {
    margin-bottom: 0;
}

